@media (max-width: 992px) {
    #heading--main {
        font-size: 5rem;
    }
    #heading--sub {
        font-size: 3rem;
    }

        
    .result {
        &__title {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 768px) {
    #heading--main {
        font-size: 4.5rem;
    }
    #heading--sub {
        font-size: 2.5rem;
    }
    
    .result {
        &__title {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 576px) {
    #heading--main {
        font-size: 3rem;
    }
    #heading--sub {
        font-size: 1.6rem;
    }
    
    .result {
        &__title {
            font-size: 1.2rem;
        }
    }
}