@media (max-width: 992px) {
    #heading--main {
        font-size: 5rem;
    }
    #heading--sub {
        font-size: 3rem;
    }

        
    .result {
        &__title {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 768px) {//768 up = MD
    #heading--main {
        font-size: 4.5rem;
    }
    #heading--sub {
        font-size: 2.5rem;
    }
    
    .result {
        &__title {
            font-size: 1.5rem;
        }
    }
    .book-cover {
        max-width: 250px !important;
    }
}

@media (max-width: 575px) {//768 up = SM
    #heading--main {
        font-size: 3rem;
    }
    #heading--sub {
        font-size: 1.6rem;
    }

    .top-20-body {
        font-size: .8rem;
    }
    
    .result {
        &__title {
            font-size: 1.2rem;
        }
    }

    .authFormTitle {
        font-size: 2rem !important;
    }

    .pagination {
        font-size: 1.2rem;
    }

    .book-title {
        font-size: 2.4rem !important;
    }

    .profile {
        &__pic {
            width: 50%;
            padding-top: 50%;
        }
        &__username {
            text-align: center;
        }
    }
    
    .book-review {
    
        &__review {
            font-size: .9rem;
        }
    }
}