//VARIABLES
$primary: #1fab89;
$primary--dark: #007658;
$secondary: #f0e6d7;
$secondary--light: #fff6ea;
$success: #4CAF50;
$info: #00BCD4;
$warning: #FF9800;
$danger: #E91E63;
$dark: #343a40;
$light: #EEEEEE;

//CUSTOM COLORS
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
  "light": $light
);

//UTILITIES
@import "_utilities.scss";
//COMPONENTS
@import "components/_button.scss";
@import "components/pagination.scss";
//ANIMATIONS
@import "_animations.scss";
//PAGES
@import "pages/_index.scss";
@import "pages/_result";
@import "pages/_book";
@import "pages/_profile";
//MEDIA QUERIES
@import "_media-queries.scss";







@import "../bootstrap/scss/bootstrap.scss";