<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
    <a href="/" class="navbar-brand mr-4">
        <i class="fas fa-book d-none d-md-inline"></i> Book Reviews
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 u-mw-800 m-auto px-0">
                    <form class="form" action="/search" method="POST">
                        <div class="input-group">   
                            <div class="input-group-prepend">
                                <select class="btn btn-outline-light" name="search_by">
                                    <option class="dropdown-item" value="all" >Search by</option>
                                    <option class="dropdown-item" value="title" >Title</option>
                                    <option class="dropdown-item" value="author" >Author</option>
                                    <option class="dropdown-item" value="all" >All</option>
                                </select>
                            </div>
                            <input type="text" class="form-control btn-light text-primary text-large" name="search_query" aria-label="Text input with dropdown button">
                            <div class="input-group-append">
                                <button class="btn btn-outline-light">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>      
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- IF USER IS NOT LOGGED IN -->
        <ul class="navbar-nav ml-4">
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/signup" class="nav-link">Signup</a>
            </li>
        </ul>
        <!--  -->
    </div>
</nav>