<nav class="navbar row">

    <div class="col-1-of-3 navbar__section navbar__section-1">
        <a href="/">
            <h1 class="navbar__title">
                <i class="fas fa-book"></i>Book Reviews
            </h1>
        </a>
    </div>

    <div class="col-1-of-3 navbar__section navbar__section-2">
        
        <% if(pageRoute !== '/') { %>
            <div class="navbar__searchbar">
                <%- include('searchbar.ejs') %>
            </div>
        <% } %>
        
    </div>
    
    <% if(!isAuthenticated) { %>
        
        <div class="col-1-of-3 navbar__section navbar__section-3">
            <ul class="navbar__links">
                <li class="navbar__link-list">
                    <a class="navbar__link" href="/signup">Signup</a>
                </li>

                <li class="navbar__link-list">
                    <a class="navbar__link" href="/login">Login</a>
                </li>
            </ul>
        </div>      
        
    <% } else { %>
            
        <div class="col-1-of-3 navbar__section navbar__section-3">
                <ul class="navbar__links">
                    <li class="navbar__link-list">
                        <a class="navbar__link navbar__link--profile" href="<%= authenticatedUserUrl %>">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
    
                    <li class="navbar__link-list">
                        <a class="navbar__link" href="/logout">Logout</a>
                    </li>
                </ul>
        </div>        
            
    <% } %>
        

</nav>