<form class="searchbar" action="/search" method="POST">
    <select class="searchbar__select" name="search_by">
        <option value="all">Search by</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="all">All</option>
    </select>
    <input class="searchbar__input" type="text" name="search_query" placeholder="Search for a book..." required>
    <button class="searchbar__btn" type="submit"><i class="fas fa-search"></i></button>
</form>