* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.main-index {
    height: 95vh;
    background-image: url(../images//books.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.index-heading {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.index-heading__main {
    display: block;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 10px;
}

.index-heading__sub {
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    /* background-color: #fff; */
}

.index-heading__sub span {
    letter-spacing: 7px;
    color: #fff;
    /* font-weight: 800; */
}

.form-box {
    width: 800px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    width: 100%;
    height: 100%;
}

.form .search_input {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    letter-spacing: 2px;
    font-size: 24px;
    padding-left: 10px;
    transition: all .2s;
}

.form select {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-left: 1px solid #1fab89;
    font-size: 20px;
    transition: all .2s;
}

.form input:focus,
.form input:hover,
.form select:focus,
.form select:hover {
    background-color: #eee;
}

.form button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    box-sizing: border-box;
    background-color: #1fab89;
    font-size: 20px;
    transition: all .2s;
}

.form button:hover,
.form button:focus {
    cursor: pointer;
    background-color: #168569;
}

.form button:active {
    font-size: 17px;
}