.navbar {
    width: 100%;
    height: 70px;
    background-color: #1fab89;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    /* background-color: black; */
}

.section__title .nav-title a {
    font-size: 30px;
    color: #eeeeee;
    text-decoration: none;
}

.search-bar__form {
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
    position: relative;
}

.search-bar__form:hover .form__button {
    background-color: #1fab89;
    color: #eeeeee;
    border: 1px solid #eeeeee;
}

.search-bar__form .form__input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #1fab89;
    background-color: #eeeeee;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s;
}


.search-bar__form .form__button {
    width: 40px;
    height: 40px;
    color: #1fab89;
    border: none;
    border-left: 1px solid #1fab89;
    background-color: #eeeeee;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    transition: all .2s;
}

.form__button:hover {
    cursor: pointer;
}

.search-bar__form .form__button:active {
    background-color: #168569;
}

.nav-links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-links li {
    list-style: none;
    margin: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #eeeeee;
    font-weight: 600;
}

.nav-links li a:hover, 
.nav-links li a:focus {
    color: #f5deb3;
}