.pagination {
    width: 100%;
    display: flex;
    /* overflow: auto; */
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.pagination li {
    list-style: none;
    margin: 20px 8px 0 8px;
}

.pagination li button.pagination-number {
    width: 30px;
    height: 45px;
    border: none;
    color: #555555;
    font-weight: 600;
    border-radius: 10px;
    background-color: #1fab89;
    text-decoration: none;
}

.pagination li button.pagination-number:hover,
.pagination li button.pagination-number:focus,
.pagination li button.pagination-number:active,
.pagination li button.pagination-number.active {
    background-color: #f5deb3;
    cursor: pointer;
}