.profile-content {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content > * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.user-reviews-title {
    width: 100%;
    text-align: center;
}

.user-reviews-title {
    font-weight: 600;
    font-size: 40px;
    color: #eeeeee;
}

.user-review {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    border: 2px solid #1fab89;
    border-radius: 10px;
    background-color: #eeeeee;
}

.user-review__title {
    font-size: 20px;
    font-weight: 600;
    color: #1fab89;
}

.user-review__book-title {
    font-weight: 600;
}

.user-review__title:hover, 
.user-review__title:focus {
    color: #168569;
}

.user-information {
    width: 30%;
    height: 840px;
    text-align: center;
    padding: 25px;
    background-color: #1fab89;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 10px 10px 30px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 30px 15px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 30px 15px rgba(0,0,0,0.25);
    z-index: 100;
}

.user-information input {
    width: 50%;
    height: 30px;
    color: #168569;
    font-size: 20px;
    background-color: #d4d4d4;
    border: 2px solid #168569;
    border-radius: 5px;
}

.profile-name {
    font-size: 40px;
    font-weight: 600px;
    color: #eeeeee;
}

.profile-pic-section {
    width: 50%;
    padding-top: 50%; /* 1:1 Aspect Ratio */
    margin: 20px 0;
    border: 5px solid #168569;
    border-radius: 50%;
    position: relative; /* If you want text inside of it */
    left: 50%;
    transform: translateX(-50%)

}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.user-data-section {
    width: 100%;
    height: 30px;
    color: #eeeeee;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    border-radius: 15px;
}

.edit-profile-btn {
    font-size: 30px;
    color: #1fab89;
    padding: 20px;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}

.edit-profile-btn:hover {
    cursor: pointer;
    bottom: 40px;
    color: crimson;
    -webkit-box-shadow: 10px 10px 50px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 10px 50px -20px rgba(0,0,0,0.8);
    box-shadow: 10px 10px 50px -20px rgba(0,0,0,0.8);
}

.user-content {
    width: 34%;
    height: 650px;
    background-color: #168569;
    display: inline-block;
}

.error-message {
    width: 90%;
    padding: 20px 0;
    font-weight: 600;
    text-align: center;
    color: #eeeeee;
    background-color: #dc143c;
    border: 5px solid #9c112d;
    border-radius: 10px;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.invalid-input {
    border: 3px solid #dc143c !important;
    /* background-color: #df395a !important; */
    color: #1d1d1d !important;
}