.search-info-section {
    background-color: #f5deb3;
    height: 20px;
    position: relative;
    color: #6b6b6b;
}

.search-query {
    color: #1fab89;
}

.search-info-data {
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #007658; */
}

.search-info-data span {
    position: absolute;
    right: 0;
}

.result-main {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.result-book {
    width: 60vw;
    height: 200px;
    margin: 10px;
    display: flex;
    background-color: #1fab89;
}

.result-book-image {
    width: 145px;
    min-width: 145px;
    max-width: 145px;
}

.result-book-info {
    position: relative;
    width: 100%;
    height: 100%;
}

.fav-icon {
    color: #007658;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.fav-icon:hover {
    color: #ffbe55;
    cursor: pointer;
}