*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: sans-serif; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navbar {
  width: 100%;
  height: 5rem;
  background-color: #1fab89;
  display: flex; }
  .navbar__section {
    height: 100%; }
    .navbar__section-1 {
      position: relative; }
    .navbar__section-2 {
      position: relative; }
  .navbar__title {
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    padding-left: 2rem;
    top: 50%;
    transform: translateY(-50%); }
  .navbar__links {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%); }
  .navbar__link-list {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    font-weight: 600; }
  .navbar__link:link, .navbar__link:visited {
    color: #fff;
    text-decoration: none; }
  .navbar__link:hover {
    color: bisque; }
  .navbar__link--profile {
    font-size: 4rem; }

.main-index {
  height: 100vh;
  background-image: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)), url(../images/books.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .main-index__section {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .main-index__main {
    display: block;
    text-align: center;
    font-size: 10rem;
    font-weight: 200;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; }
  .main-index__sub {
    display: flex;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    justify-content: space-between; }
