@keyframes fade-in-left {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    transform: translateX(150px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: #eee; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

nav.navbar.row {
  margin-bottom: 0; }

.navbar {
  width: 100%;
  height: 6rem;
  background-color: #1fab89;
  display: flex; }
  .navbar__section {
    height: 100%; }
    .navbar__section-1 {
      position: relative; }
    .navbar__section-2 {
      position: relative; }
  .navbar__title {
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    padding-left: 2rem;
    top: 50%;
    transform: translateY(-50%); }
  .navbar__links {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%); }
  .navbar__link-list {
    display: inline-block;
    list-style: none;
    margin: 0 1rem;
    font-weight: 600; }
  .navbar__link:link, .navbar__link:visited {
    color: #fff;
    text-decoration: none; }
  .navbar__link:hover {
    color: bisque; }
  .navbar__link--profile {
    font-size: 4rem; }

.searchbar {
  background-color: #fff;
  height: 4rem;
  border-radius: 3px;
  display: flex;
  margin-top: 5rem;
  transition: transform .2s;
  animation-name: fade-in-bottom;
  animation-duration: 1.5s;
  animation-delay: .6s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out; }
  .searchbar__select, .searchbar__input, .searchbar__btn {
    border: none;
    height: 100%; }
  .searchbar__select {
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    background-color: #1fab89;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
    .searchbar__select:hover {
      cursor: pointer; }
    .searchbar__select option {
      color: black;
      background-color: #fff; }
  .searchbar__input {
    color: #1fab89;
    font-size: 2rem;
    letter-spacing: 1px;
    flex-grow: 1;
    padding-left: 1rem; }
  .searchbar__btn {
    width: 4rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: #1fab89;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all .2s; }
    .searchbar__btn:hover {
      cursor: pointer; }
    .searchbar__btn:active {
      font-size: 1.4rem; }
  .searchbar:hover {
    transform: scale(1.05);
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.search-information {
  background-color: #f5deb3;
  height: 2rem;
  position: relative;
  color: #555555; }
  .search-information__search-query {
    color: #1fab89; }
  .search-information__data {
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .search-information__data span {
      position: absolute;
      right: 0; }

.main-index {
  height: 100vh;
  background-image: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)), url(../images/books.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .main-index__section {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .main-index__main {
    display: block;
    text-align: center;
    font-size: 10rem;
    font-weight: 200;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; }
    .main-index__main > span {
      display: block;
      animation-name: fade-in-left;
      animation-duration: 2.1s;
      animation-timing-function: ease-out; }
  .main-index__sub {
    display: flex;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    justify-content: space-between;
    animation-name: fade-in-right;
    animation-duration: 2.1s;
    animation-timing-function: ease-out; }

.result-main {
  height: 50rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.result-book {
  width: 60vw;
  height: 20rem;
  margin-top: .5rem;
  position: relative;
  display: flex;
  background-color: #1fab89; }
  .result-book__image {
    width: 14.5rem;
    min-width: 14.5rem;
    max-width: 14.5rem; }
  .result-book__title-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100; }
  .result-book__title {
    width: 90%; }
  .result-book__info {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 2rem; }

.fav-icon {
  color: #007658;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem; }
  .fav-icon:hover {
    color: #f5deb3;
    cursor: pointer; }
