@keyframes fade-in-left {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    transform: translateX(150px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: #eee; }

.u-mt-2 {
  margin-top: 2rem; }

.u-mt-5 {
  margin-top: 5rem !important; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #1fab89;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
  transition: all .2s; }
  .btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5); }
  .btn:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.5); }
  .btn--red {
    background-color: #DD0229; }

nav.navbar.row {
  margin-bottom: 0; }

.navbar {
  width: 100%;
  height: 6rem;
  background-color: #1fab89;
  display: flex; }
  .navbar__section {
    height: 100%; }
    .navbar__section-1, .navbar__section-2, .navbar__section-3 {
      position: relative; }
  .navbar__title {
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    padding-left: 2rem;
    top: 50%;
    transform: translateY(-50%); }
  .navbar__searchbar {
    width: 100%;
    position: absolute;
    padding-left: 2rem;
    top: 50%;
    transform: translateY(-50%); }
    .navbar__searchbar > .searchbar {
      margin: 0;
      border: 1px solid #fff;
      border-radius: 3px;
      animation: none; }
      .navbar__searchbar > .searchbar:hover {
        transform: none;
        box-shadow: none; }
  .navbar__links {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%); }
  .navbar__link-list {
    display: inline-block;
    list-style: none;
    margin: 0 1rem;
    font-weight: 600; }
  .navbar__link:link, .navbar__link:visited {
    color: #fff;
    text-decoration: none; }
  .navbar__link:hover {
    color: bisque; }
  .navbar__link--profile {
    font-size: 4rem; }

.main-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)), url(../images/books.jpg);
  background-size: cover;
  background-position: center; }

.form__error-alert {
  display: none;
  width: 40vw;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.8rem;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.8);
  box-sizing: border-box;
  border: 2px solid crimson;
  z-index: 999; }
  .form__error-alert > p:not(:last-child) {
    margin-bottom: 1.5rem; }
  .form__error-alert--render {
    display: block !important; }

.form__section {
  width: 40vw;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: #eeeeee; }

.form__title {
  height: 10rem;
  padding: 0 1.2rem;
  font-size: 5rem;
  color: #eeeeee;
  background-color: #1fab89;
  display: flex;
  justify-content: center;
  align-items: center; }

.form__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative; }

.form__input {
  width: 80%;
  height: 5rem;
  font-size: 2rem;
  border: 1px solid #1fab89;
  background-color: #ffffff;
  margin: 1rem 1rem;
  padding-left: 1rem; }

.form__submit {
  width: 40%;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #eeeeee;
  background-color: #1fab89;
  border: none;
  margin: 2.5rem 0 3.5rem 0;
  transition: all .2s; }
  .form__submit--hover:hover, .form__submit--hover:focus, .form__submit--hover:active {
    width: 80%;
    cursor: pointer; }

.form__require-message {
  position: absolute;
  top: 1rem;
  left: 1rem; }

.form__require-text {
  margin-left: 1rem; }

.form__label {
  width: 80%;
  height: 2.0rem;
  font-size: 2.5rem;
  margin: 1.5rem 0 0 0; }

.input-error {
  border: 2px solid crimson !important; }

.require--red {
  color: crimson;
  position: absolute; }

.pagination {
  width: 100%;
  margin: 2rem;
  text-align: center;
  margin-bottom: 2rem; }
  .pagination__link {
    color: #1fab89;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 2rem;
    border-bottom: 2px solid transparent; }
    .pagination__link--active {
      color: #007658;
      border-bottom: 2px solid #007658; }
    .pagination__link:hover {
      color: #007658;
      border-bottom: 2px solid #007658; }

.searchbar {
  background-color: #fff;
  height: 4rem;
  border-radius: 3px;
  display: flex;
  margin-top: 5rem;
  transition: all .2s;
  animation-name: fade-in-bottom;
  animation-duration: 1.5s;
  animation-delay: .6s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out; }
  .searchbar__select, .searchbar__input, .searchbar__btn {
    border: none;
    height: 100%; }
  .searchbar__select {
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    background-color: #1fab89;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
    .searchbar__select:hover {
      cursor: pointer; }
    .searchbar__select option {
      color: black;
      background-color: #fff; }
  .searchbar__input {
    min-width: 2rem;
    color: #1fab89;
    font-size: 2rem;
    letter-spacing: 1px;
    flex-grow: 1;
    padding-left: 1rem; }
  .searchbar__btn {
    width: 4rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: #1fab89;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all .2s; }
    .searchbar__btn:hover {
      cursor: pointer; }
    .searchbar__btn:active {
      font-size: 1.4rem; }
  .searchbar:hover {
    transform: scale(1.03);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.search-information {
  background-color: #f5deb3;
  height: 2rem;
  position: relative;
  color: #555555; }
  .search-information__search-query {
    color: #1fab89; }
  .search-information__data {
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .search-information__data span {
      position: absolute;
      right: 0; }

.review-edit {
  width: 60rem;
  margin: 0 auto;
  border: 2px solid #1fab89;
  border-radius: 3px;
  padding: 2rem 3rem;
  margin-top: 3rem; }
  .review-edit__title {
    font-size: 6rem;
    color: #1fab89; }
  .review-edit__block {
    width: 100%;
    margin: 2rem 0; }
  .review-edit__label {
    font-weight: 600; }
  .review-edit__input {
    height: 3rem;
    font-size: 1.8rem;
    font-family: sans-serif;
    border: 1px solid #1fab89;
    border-radius: 3px; }
    .review-edit__input--input {
      width: 50%; }
    .review-edit__input--textarea {
      width: 100%;
      height: 20rem;
      resize: vertical; }
  .review-edit__controls {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .review-edit__controls > * {
      margin-left: 3rem; }

.main-index {
  height: 100vh;
  background-image: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)), url(../images/books.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .main-index__section {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .main-index__main {
    display: block;
    text-align: center;
    font-size: 10rem;
    font-weight: 200;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; }
    .main-index__main > span {
      display: block;
      animation-name: fade-in-left;
      animation-duration: 2.1s;
      animation-timing-function: ease-out; }
  .main-index__sub {
    display: flex;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    justify-content: space-between;
    animation-name: fade-in-right;
    animation-duration: 2.1s;
    animation-timing-function: ease-out; }

.result-main {
  height: 50rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.result-book {
  width: 60vw;
  height: 20rem;
  margin-top: .5rem;
  border-radius: 3px;
  position: relative;
  display: flex;
  background-color: #1fab89; }
  .result-book__image {
    width: 14.5rem;
    min-width: 14.5rem;
    max-width: 14.5rem; }
  .result-book__title-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    max-width: 90%;
    transition: all .3s;
    border-bottom: 1px solid transparent; }
    .result-book__title-link:hover, .result-book__title-link:focus {
      outline: none;
      border-bottom: 1px solid #fff; }
  .result-book__title {
    max-width: 90%;
    display: inline-block;
    margin-bottom: 1rem;
    transition: all .2s; }
  .result-book__info {
    position: relative;
    width: 100%;
    margin: 2rem; }

.fav-icon {
  color: #007658;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem; }
  .fav-icon:hover {
    color: #f5deb3;
    cursor: pointer; }

.profile__col {
  text-align: center;
  padding: 2rem; }
  .profile__col-content {
    border: 1px solid #1fab89;
    border-radius: 3px; }
