<%- include('../includes/top') %>

<%- include('../includes/navbar') %>

<div class="profile__main row">
    <div class="col-1-of-3 profile__col profile__col--reviews">
        <h2 class="profile__sub-title">User's reviews</h2>
    </div>
    
    <div class="col-1-of-3 profile__col profile__col--information">
        <h2 class="profile__sub-title">Profile information</h2>
    </div>

    <div class="col-1-of-3 profile__col profile__col--favorites">
        <h2 class="profile__sub-title">User's favorites</h2>
    </div>

</div>

<%- include('../includes/bottom') %>