<%- include('../includes/top') %>

<%- include('../includes/navbar') %>

<div class="profile__main row">
    <div class="col-1-of-3 profile__col profile__col--information">
        <h2 class="profile__sub-title">Profile information</h2>
    </div>  

    <div class="col-2-of-3 profile__col profile__col--reviews">
        <h2 class="profile__sub-title">Reviews</h2>

        <div class="profile__reviews-list">

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

        </div>

    </div>

</div>

<%- include('../includes/bottom') %>