button.button {
    border: none !important;
    
    &--long {
        width: 100px;
        font-weight: 600;
        transition: all .5s !important;

        &:focus,
        &:hover {
            width: 100%;
            color: white;
            cursor: pointer;
        }
    }
}