button.button {
    border: none !important;
    font-weight: 600;
    
    &--long {
        width: 100px;
        transition: all .5s !important;

        &:focus,
        &:hover {
            width: 100%;
            color: white;
            cursor: pointer;
        }
    }

    &--w-25 {
        width: 25%;
    }
}