.search-information {
    background-color: $color-yellow-light;
    height: 2rem;
    position: relative;
    color: $color-dark-gray;

    &__search-query {
        color: $main-color-green;
    }

    &__data {
        width: 60vw;
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        & span {
            position: absolute;
            right: 0;
        }
    }
}