@keyframes fade-in-left {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}