//MARGINS
.u-m-2 {
    margin: 2rem !important;
}

.u-mt-2 {
    margin-top: 2rem !important;
}

.u-mb-2 {
    margin-bottom: 2rem !important;
}

.u-mt-5 {
    margin-top: 5rem !important;
}

//COLORS
.green {
    color: $main-color-green !important;
}