.main {
    
    &__index {
        background-image: linear-gradient(rgba(black, .4), rgba(black, .4)), url('../images/books.jpg');
        background-size: cover;
        background-position: center;
        border-bottom: 4px solid $primary;
    }

    &-heading {
        &__primary {
            border-top: 2px solid $light;
            border-bottom: 2px solid $light;

            span {
                animation: fade-in-left 2s ease-out;
            }
        }

        &__secondary {
            animation: fade-in-right 2s ease-out;
        }
    }
}

.top-20-body li {
    font-weight: 600;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.top-20-book {
    width: 150px;
    min-width: 120px;
    max-height: 300px;
}