.main-index {
    height: 100vh;
    background-image: linear-gradient(hsla(0, 0%, 24%, 0.5), hsla(0, 0%, 24%, 0.5) ), url(../images/books.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &__section {
        color: $color-white;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__main {
        display: block;
        text-align: center;
        font-size: 10rem;
        font-weight: 200;
        border-top: 2px solid $color-white;
        border-bottom: 2px solid $color-white;
        
        & > span {
            display: block;
            animation-name: fade-in-left;
            animation-duration: 2.1s;
            animation-timing-function: ease-out;
        }
    }
    
    &__sub {
        display: flex;
        text-align: center;
        font-weight: 600;
        letter-spacing: 2px;
        justify-content: space-between;
        
        animation-name: fade-in-right;
        animation-duration: 2.1s;
        animation-timing-function: ease-out;
    }
}