.profile {

    &__pic {
        width: 80%;
        padding-top: 80%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__edit-icon {
        top: 10px;
        right: 10px;
        line-height: 1;
        z-index: 10;
        font-size: 1.6rem;
    }

    &__nav-tab a {
        font-weight: 600;

        &:hover:not(.active) {
            background-color: rgba($primary, .1);
            border: 1px solid rgba($primary, .3) !important;
            color: $primary;
        }

        &.active {
            background-color: $primary !important;
            color: $light !important;

            &:hover {
                cursor: default;
            }
        }
    }

    &__saved-book {

        &-link {

            &:hover{
                text-decoration: none;
            }
        }

        &-image {
            height:180px;
            transition: all .2s;

            &:hover {
                transform: scale(1.06);
            }
        }
    }

    &__review {
        &-body {
            border-left: 4px solid $primary;
        }

        &-link {
            &--book {
                color: $light;

                &:hover,
                &:focus {
                    color: $secondary !important;
                }
            }
            &--review {
                color: $primary;

                &:hover,
                &:focus {
                    color: $primary--dark !important;
                }
            }

        }
    }

}