.profile {
    &__main {
        width: 100vw;
        padding: 5rem;
    }

    &__col {
        border-radius: 3px;
        height: 80vh;

        &--information {
            box-shadow: 1rem 2rem 2rem rgba($color-black, .15);
            background-color: $color-light-gray;
            overflow: hidden;
            text-align: center;
            color: $color-dark-gray;
        }

        &--reviews {
            height: 80vh;
        }
    }

    &__sub-title {
        color: $color-light-gray;
        text-align: center;
        background-color: $main-color-green;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 5px solid $main-color-green-dark;
        padding: 2rem 0;
        font-size: 3rem;
        font-weight: 500;
    }

    &__information {
        padding: 3rem;
        position: relative;
    }

    &__icon {
        font-size: 2rem;
        color: $main-color-green;
        
        
        &--main-edit-icon {
            color: $color-light-gray-2;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        
        &--link {
            color: $color-light-gray-2;
            &:hover {
                color: $main-color-green;
            }
        }
    }

    &__image {
        width: 25rem;
        height: 25rem;
        display: block;
        margin: auto;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        border: 5px solid $main-color-green;
        position: relative;

        &:hover {
            
            & > .profile__icon--link {
                display: inline-block;
            }
        }
    
        & > .profile__icon--link {
            position: absolute;
            display: none;
            font-size: 6rem;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        //EDIT MODE
        &--edit {
            width: 20rem;
            height: 20rem;
        }
    }

    &__username {
        margin: 1rem 0 1rem 0;
        padding: 0 3rem;
        display: inline-block;
        color: $main-color-green;
        font-size: 4rem;
        position: relative;

        &:hover > .profile__icon--link {
            display: block;
        }
    
        & > .profile__icon--link {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
        }

        &--edit {
            display: block;
            font-size: 2rem;
        }
    }

    &__reviews-count {
        width: 40%;
        display: inline-block;
        margin: 0 5rem 3rem 5rem;
        padding: 1rem 2rem;
        color: $color-light-gray;
        font-weight: 600;
        font-size: 2rem;
        border-radius: 2rem;
        background-color: $main-color-green;

    }

    &__email {
        padding: 0 3rem;
        display: inline-block;
        position: relative;

        &:hover > .profile__icon--link {
            display: block;
        }
    
        & > .profile__icon--link {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
        }

        &--edit {
            display: block;
            font-size: 2rem;
            color: $main-color-green;
        }
    }

    &__email,
    &__date {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    &__reviews-list {
        padding: 0 3rem 2rem 3rem ;
        text-align: center;
        height: 90%;
        overflow: auto;
    }
    
    &__review {
        width: 100%;
        display: inline-block;
        padding: 1rem;
        margin: 3rem 0;
        text-align: start;
        border-left: 5px solid $main-color-green;
        box-shadow: 1rem 1rem 2rem rgba($color-black, .2);
        transition: all .2s;

        &--options {
            float: right;
        }

        &--link:link,
        &--link:visited,
        &--link:hover,
        &--link:focus {
            text-decoration: none;
        }


        &--link:focus > &--book-title {
            color: $main-color-green;
            outline: none !important;            
        }

        &:hover,
        &:focus {
            transform: translateY(-.5rem) scale(1.01);
            box-shadow: 1rem 3rem 4rem rgba($color-black, .2);
        }

        &--book-title {
            font-size: 2.5rem;
            color: $main-color-green-dark;
            text-decoration: underline;
            margin-bottom: 1.5rem;
            display: inline-block;
        
            &:hover,
            &:focus {
                color: $main-color-green;
                outline: none !important;
            }
        }

        &--title {
            font-size: 2rem;
            font-weight: 600;
            color: $main-color-green;
            margin-bottom: 1rem;
        }
        
        &--content {
            display: block;
            color: $color-dark-gray;
            margin-bottom: 1rem;
        }
        
        &--rating {
            color: $main-color-green;
            font-weight: 600;
        }
    }

    //EDIT FIELDS
    &__edit-field {
        border: none;
        border-radius: 3px;
        width: 100%;
        font-size: 1.8rem;
        padding: .5rem;
        
        &--input {
            
        }
    }
}