<%- include('../includes/top') %>

<main class="main__index jumbotron jumbotron-fluid text-center text-light">
    <h1 class="main-heading d-inline-block">
        <span id="heading--main" class="main-heading__primary d-block display-1">
            <span class="d-inline-block">BOOK REVIEWS</span>
        </span>
        
        <span id="heading--sub" class="main-heading__secondary d-inline-block display-4">SEARCH DISCOVER REVIEW</span>
    </h1>
</main>

<section>
    <h3 class="text-center text-dark pb-4">Discover some of the best books!</h3>

    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-6 p-0 mb-4">
                <div class="card m-2 bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title text-primary text-center d-block m-0">Science Fiction</h3>
                        <hr class="m-2" style="height: 1px;">
                        <p class="card-text">This genre incorporates any story set in the future, the past, or other dimensions. The story features scientific ideas and advanced technological concepts. Writers must be prepared to spend time building new worlds. The setting should define the plot.</p>
                    </div>
                    <div class="card-body top-20-body d-flex">
                        <ul>
                            <li>
                                <a href="/book/13" class="mx-2" title="THE ULTIMATE HITCHHIKER’S GUIDE TO THE GALAXY">THE ULTIMATE HITCHHIKER’S GUIDE TO THE GALAXY</a>
                            </li>
            
                            <li>
                                <a href="/book/60926" class="mx-2" title="LILITH’S BROOD">LILITH’S BROOD</a>
                            </li>
            
                            <li>
                                <a href="/book/70535" class="mx-2" title="2001: A SPACE ODYSSEY">2001: A SPACE ODYSSEY</a>
                            </li>
            
                            <li>
                                <a href="/book/39776179" class="mx-2" title="DUNE">DUNE</a>
                            </li>
            
                            <li>
                                <a href="/book/13651" class="mx-2" title="THE DISPOSSESSED">THE DISPOSSESSED</a>
                            </li>
            
                            <li>
                                <a href="/book/33574273" class="mx-2" title="A WRINKLE IN TIME">A WRINKLE IN TIME</a>
                            </li>
            
                            <li>
                                <a href="/book/40961427" class="mx-2" title="1984">1984</a>
                            </li>
            
                            <li>
                                <a href="/book/334176" class="mx-2" title="THE SPARROW">THE SPARROW</a>
                            </li>
            
                            <li>
                                <a href="/book/816" class="mx-2" title="CRYPTONOMICON">CRYPTONOMICON</a>
                            </li>
            
                            <li>
                                <a href="/book/24983" class="mx-2" title="DOOMSDAY BOOK">DOOMSDAY BOOK</a>
                            </li>
                        </ul>
        
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 p-0 mb-4">
                <div class="card m-2 bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title text-primary text-center d-block m-0">Action / Adventure</h3>
                        <hr class="m-2" style="height: 1px;">
                        <p class="card-text">Any story that puts the protagonist in physical danger, characterised by thrilling near misses, and courageous and daring feats, belongs to this genre. It is fast paced, the tension mounting as the clock ticks. There is always a climax that offers the reader some relief.</p>
                    </div>
                    <div class="card-body top-20-body d-flex">
                        <ul>
                            <li>
                                <a href="/book/40604658" class="mx-2" title="JURASSIC PARK">JURASSIC PARK</a>
                            </li>
            
                            <li>
                                <a href="/book/2767052" class="mx-2" title="THE HUNGER GAMES">THE HUNGER GAMES</a>
                            </li>
            
                            <li>
                                <a href="/book/968" class="mx-2" title="THE DA VINCI CODE">THE DA VINCI CODE</a>
                            </li>
            
                            <li>
                                <a href="/book/2429135" class="mx-2" title="THE GIRL WITH THE DRAGON TATTOO">THE GIRL WITH THE DRAGON TATTOO</a>
                            </li>
            
                            <li>
                                <a href="/book/7869" class="mx-2" title="THE BOURNE IDENTITY">THE BOURNE IDENTITY</a>
                            </li>
            
                            <li>
                                <a href="/book/19691" class="mx-2" title="THE HUNT FOR RED OCTOBER">THE HUNT FOR RED OCTOBER</a>
                            </li>
            
                            <li>
                                <a href="/book/7126" class="mx-2" title="THE COUNT OF MONTE CRISTO">THE COUNT OF MONTE CRISTO</a>
                            </li>
            
                            <li>
                                <a href="/book/13335037" class="mx-2" title="DIVERGENT">DIVERGENT</a>
                            </li>
            
                            <li>
                                <a href="/book/13496" class="mx-2" title="A GAME OF THRONES">A GAME OF THRONES</a>
                            </li>
            
                            <li>
                                <a href="/book/5907" class="mx-2" title="THE HOBBIT OR THERE AND BACK AGAIN">THE HOBBIT OR THERE AND BACK AGAIN</a>
                            </li>
                        </ul>
        
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 p-0 mb-4">
                <div class="card m-2 bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title text-primary text-center d-block m-0">ROMANCE</h3>
                        <hr class="m-2" style="height: 1px;">
                        <p class="card-text">These stories are about a romantic relationship between two people. They are characterised by sensual tension, desire, and idealism. The author keeps the two apart for most of the novel, but they do eventually end up together.</p>
                    </div>
                    <div class="card-body top-20-body d-flex">
                        <ul>
                            <li>
                                <a href="/book/1885" class="mx-2" title="PRIDE AND PREJUDICE">PRIDE AND PREJUDICE</a>
                            </li>
            
                            <li>
                                <a href="/book/227443" class="mx-2" title="BRIDGET JONES’S DIARY">BRIDGET JONES’S DIARY</a>
                            </li>
            
                            <li>
                                <a href="/book/6584134" class="mx-2" title="NINE RULES TO BREAK WHEN ROMANCING A RAKE">NINE RULES TO BREAK WHEN ROMANCING A RAKE</a>
                            </li>
            
                            <li>
                                <a href="/book/16068905" class="mx-2" title="FANGIRL">FANGIRL</a>
                            </li>
            
                            <li>
                                <a href="/book/20448515" class="mx-2" title="BARED TO YOU">BARED TO YOU</a>
                            </li>
            
                            <li>
                                <a href="/book/15749186" class="mx-2" title="TO ALL THE BOYS I'VE LOVED BEFORE ">TO ALL THE BOYS I'VE LOVED BEFORE </a>
                            </li>
            
                            <li>
                                <a href="/book/25883848" class="mx-2" title="THE HATING GAME">THE HATING GAME</a>
                            </li>
            
                            <li>
                                <a href="/book/36199084" class="mx-2" title="THE KISS QUOTIENT">THE KISS QUOTIENT</a>
                            </li>
            
                            <li>
                                <a href="/book/4268157" class="mx-2" title="PERFECT CHEMISTRY">PERFECT CHEMISTRY</a>
                            </li>
            
                            <li>
                                <a href="/book/30333938" class="mx-2" title="SLAMMED">SLAMMED</a>
                            </li>
                        </ul>
        
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 p-0 mb-4">
                <div class="card m-2 bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title text-primary text-center d-block m-0">FANTASY</h3>
                        <hr class="m-2" style="height: 1px;">
                        <p class="card-text">These stories deal with kingdoms as opposed to sci-fi, which deals with universes. Writers must spend plenty of time on world building. Myths, otherworldly magic-based concepts, and ideas characterise these books. They frequently take cues from historical settings like The Dark Ages.</p>
                    </div>
                    <div class="card-body top-20-body d-flex">
                        <ul>
                            <li>
                                <a href="/book/3" class="mx-2" title="HARRY POTTER AND THE SORCERER'S STONE">HARRY POTTER AND THE SORCERER'S STONE</a>
                            </li>
            
                            <li>
                                <a href="/book/13496" class="mx-2" title="A GAME OF THRONES">A GAME OF THRONES</a>
                            </li>
            
                            <li>
                                <a href="/book/186074" class="mx-2" title="THE NAME OF THE WIND">THE NAME OF THE WIND</a>
                            </li>
            
                            <li>
                                <a href="/book/7235533" class="mx-2" title="THE WAY OF KINGS">THE WAY OF KINGS</a>
                            </li>
            
                            <li>
                                <a href="/book/13642" class="mx-2" title="A WIZARD OF EARTHSEA">A WIZARD OF EARTHSEA</a>
                            </li>
            
                            <li>
                                <a href="/book/77197" class="mx-2" title="ASSASSIN'S APPRENTICE">ASSASSIN'S APPRENTICE</a>
                            </li>
            
                            <li>
                                <a href="/book/29588376" class="mx-2" title="THE LIES OF LOCKE LAMORA">THE LIES OF LOCKE LAMORA</a>
                            </li>
            
                            <li>
                                <a href="/book/153008" class="mx-2" title="KUSHIEL'S DART">KUSHIEL'S DART</a>
                            </li>
            
                            <li>
                                <a href="/book/30165203" class="mx-2" title="AMERICAN GODS">AMERICAN GODS</a>
                            </li>
            
                            <li>
                                <a href="/book/9361589" class="mx-2" title="THE NIGHT CIRCUS">THE NIGHT CIRCUS</a>
                            </li>
                        </ul>
        
                    </div>
                </div>
            </div>
            
        </div>
    </div>


</section>

<%- include('../includes/bottom') %>