<%- include('../includes/top') %>

<main class="main__index jumbotron jumbotron-fluid text-center text-light">
    <h1 class="main-heading d-inline-block">
        <span id="heading--main" class="main-heading__primary d-block display-1">
            <span class="d-inline-block">BOOK REVIEWS</span>
        </span>
        
        <span id="heading--sub" class="main-heading__secondary d-inline-block display-4">SEARCH DISCOVER REVIEW</span>
    </h1>
</main>

<section>
    <h2 class="text-center text-dark pb-4">Top 10's!</h2>

    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-6 p-0 mb-4">
                <div class="card m-2 bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title text-primary text-center d-block m-0">Science Fiction</h3>
                        <hr class="m-2" style="height: 1px;">
                        <p class="card-text">This genre incorporates any story set in the future, the past, or other dimensions. The story features scientific ideas and advanced technological concepts. Writers must be prepared to spend time building new worlds. The setting should define the plot.</p>
                    </div>
                    <div class="card-body top-20-body d-flex">
                        <ul>
                            <li>
                                <a href="/book/13" class="mx-2" title="THE ULTIMATE HITCHHIKER’S GUIDE TO THE GALAXY BY DOUGLAS ADAMS">THE ULTIMATE HITCHHIKER’S GUIDE TO THE GALAXY BY DOUGLAS ADAMS</a>
                            </li>
            
                            <li>
                                <a href="/book/60926" class="mx-2" title="LILITH’S BROOD BY OCTAVIA BUTLER">LILITH’S BROOD BY OCTAVIA BUTLER</a>
                            </li>
            
                            <li>
                                <a href="/book/70535" class="mx-2" title="2001: A SPACE ODYSSEY by ARTHUR C. CLARKE">2001: A SPACE ODYSSEY by ARTHUR C. CLARKE</a>
                            </li>
            
                            <li>
                                <a href="/book/39776179" class="mx-2" title="DUNE BY FRANK HERBERT">DUNE BY FRANK HERBERT</a>
                            </li>
            
                            <li>
                                <a href="/book/13651" class="mx-2" title="THE DISPOSSESSED BY URSULA K. LE GUIN">THE DISPOSSESSED BY URSULA K. LE GUIN</a>
                            </li>
            
                            <li>
                                <a href="/book/33574273" class="mx-2" title="A WRINKLE IN TIME BY MADELEINE L’ENGLE">A WRINKLE IN TIME BY MADELEINE L’ENGLE</a>
                            </li>
            
                            <li>
                                <a href="/book/40961427" class="mx-2" title="1984 BY GEORGE ORWELL">1984 BY GEORGE ORWELL</a>
                            </li>
            
                            <li>
                                <a href="/book/334176" class="mx-2" title="THE SPARROW BY MARY DORIA RUSSELL">THE SPARROW BY MARY DORIA RUSSELL</a>
                            </li>
            
                            <li>
                                <a href="/book/816" class="mx-2" title="CRYPTONOMICON BY NEAL STEPHENSON">CRYPTONOMICON BY NEAL STEPHENSON</a>
                            </li>
            
                            <li>
                                <a href="/book/24983" class="mx-2" title="DOOMSDAY BOOK BY CONNIE WILLIS">DOOMSDAY BOOK BY CONNIE WILLIS</a>
                            </li>
                        </ul>
        
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 p-0 mb-4">
                <div class="card m-2 bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title text-primary text-center d-block m-0">Action / Adventure</h3>
                        <hr class="m-2" style="height: 1px;">
                        <p class="card-text">This genre incorporates any story set in the future, the past, or other dimensions. The story features scientific ideas and advanced technological concepts. Writers must be prepared to spend time building new worlds. The setting should define the plot.</p>
                    </div>
                    <div class="card-body top-20-body d-flex">
                        <ul>
                            <li>
                                <a href="/book/13" class="mx-2" title="THE ULTIMATE HITCHHIKER’S GUIDE TO THE GALAXY BY DOUGLAS ADAMS">THE ULTIMATE HITCHHIKER’S GUIDE TO THE GALAXY BY DOUGLAS ADAMS</a>
                            </li>
            
                            <li>
                                <a href="/book/60926" class="mx-2" title="LILITH’S BROOD BY OCTAVIA BUTLER">LILITH’S BROOD BY OCTAVIA BUTLER</a>
                            </li>
            
                            <li>
                                <a href="/book/70535" class="mx-2" title="2001: A SPACE ODYSSEY by ARTHUR C. CLARKE">2001: A SPACE ODYSSEY by ARTHUR C. CLARKE</a>
                            </li>
            
                            <li>
                                <a href="/book/39776179" class="mx-2" title="DUNE BY FRANK HERBERT">DUNE BY FRANK HERBERT</a>
                            </li>
            
                            <li>
                                <a href="/book/13651" class="mx-2" title="THE DISPOSSESSED BY URSULA K. LE GUIN">THE DISPOSSESSED BY URSULA K. LE GUIN</a>
                            </li>
            
                            <li>
                                <a href="/book/33574273" class="mx-2" title="A WRINKLE IN TIME BY MADELEINE L’ENGLE">A WRINKLE IN TIME BY MADELEINE L’ENGLE</a>
                            </li>
            
                            <li>
                                <a href="/book/40961427" class="mx-2" title="1984 BY GEORGE ORWELL">1984 BY GEORGE ORWELL</a>
                            </li>
            
                            <li>
                                <a href="/book/334176" class="mx-2" title="THE SPARROW BY MARY DORIA RUSSELL">THE SPARROW BY MARY DORIA RUSSELL</a>
                            </li>
            
                            <li>
                                <a href="/book/816" class="mx-2" title="CRYPTONOMICON BY NEAL STEPHENSON">CRYPTONOMICON BY NEAL STEPHENSON</a>
                            </li>
            
                            <li>
                                <a href="/book/24983" class="mx-2" title="DOOMSDAY BOOK BY CONNIE WILLIS">DOOMSDAY BOOK BY CONNIE WILLIS</a>
                            </li>
                        </ul>
        
                    </div>
                </div>
            </div>
            
        </div>
    </div>


</section>

<%- include('../includes/bottom') %>