<%- include('../includes/top') %>

    <main class="main-index">
        <%- include('../includes/navbar') %>
        <div class="main-index__section">
            <h1 class="main-index__heading">
                <span class="main-index__main">Book Reviews</span>
                <span class="main-index__sub">
                    <span>Search</span> 
                    <span>Discover</span> 
                    <span>Review</span> 
                </span>
            </h1>
            <%- include('../includes/searchbar') %>
        </div>
    </main>

<%- include('../includes/bottom') %>