<%- include('../includes/top') %>

    <div class="main-index">
        
            <h1 class="index-heading">
                <span class="index-heading__main">Book Reviews</span>
                <span class="index-heading__sub"><span>Search</span> <span>Discover</span> <span>Review</span> </span>
            </h1>

        <div class="form-box">
            <form class="form" action="/search" method="POST">
             <input type="text" name="search_query" required>
             
             <select name="search_by">
                <option value="all">Search by</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="all">All</option>
              </select>
              <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

    </div>


<%- include('../includes/bottom') %>