<%- include('../includes/top') %>

    <div class="main-index">
        
            <%- include('../includes/navbar') %>

            <main class="main-index__section">

                <h1 class="main-index__heading">
                    <span class="main-index__main">Book Reviews</span>
                    <span class="main-index__sub">
                        <span>Search</span> 
                        <span>Discover</span> 
                        <span>Review</span> 
                    </span>
                </h1>

                

            </main>
            

        
    <!-- <form class="index-form" action="/search" method="POST">
        <input class="index-form__input index-form-hover-element" type="text" name="search_query" required>
        <select class="index-form__select index-form-hover-element" name="search_by">
            <option value="all">Search by</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="all">All</option>
        </select>
        <button class="index-form__btn index-form-hover-element" type="submit"><i class="fas fa-search"></i></button>
    </form> -->

    </div>


<%- include('../includes/bottom') %>