<%- include('../includes/top') %>

<main class="jumbotron jumbotron-fluid main__index">
    <div class="container">
        <h1 class="display-4 text-center">SEARCH <span class="text-primary display-3">/</span> DISCOVER <span class="text-primary display-3">/</span> SHARE</h1>
    </div>
</main>

<section>
    <h2 class="text-center text-dark pb-4">Top 10's!</h2>

    <div class="container">
    
        <div class="card bg-secondary">
            <div class="card-header">
                <h3 class="card-title text-primary d-inline">Science Fiction</h3>
                <p class="card-text">This genre incorporates any story set in the future, the past, or other dimensions. The story features scientific ideas and advanced technological concepts. Writers must be prepared to spend time building new worlds. The setting should define the plot.</p>
            </div>
            <div class="card-body top-20-body d-flex">
                
                <a href="#" class="mx-2" title="THE ULTIMATE HITCHHIKER’S GUIDE TO THE GALAXY BY DOUGLAS ADAMS">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1404613595l/13.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="LILITH’S BROOD BY OCTAVIA BUTLER">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1439247785l/60926.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="2001: A SPACE ODYSSEY by ARTHUR C. CLARKE">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1432468943l/70535.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="DUNE BY FRANK HERBERT">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1523123959l/39776179.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="THE DISPOSSESSED BY URSULA K. LE GUIN">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1353467455l/13651.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="A WRINKLE IN TIME BY MADELEINE L’ENGLE">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1507963312l/33574273.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="1984 BY GEORGE ORWELL">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1532714506l/40961427.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="THE SPARROW BY MARY DORIA RUSSELL">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1230829367l/334176.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="CRYPTONOMICON BY NEAL STEPHENSON">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1327931476l/816.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="DOOMSDAY BOOK BY CONNIE WILLIS">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1403972500l/24983.jpg" alt="">
                    </div>
                </a>

            </div>
        </div>
    
        <div class="card bg-secondary mt-4">
            <div class="card-header">
                <h3 class="card-title text-primary d-inline">Action Adventure</h3>
                <p class="card-text">Any story that puts the protagonist in physical danger, characterised by thrilling near misses, and courageous and daring feats, belongs to this genre. It is fast paced, the tension mounting as the clock ticks.</p>
            </div>
            <div class="card-body top-20-body d-flex">
                
                <a href="#" class="mx-2" title="THE ULTIMATE HITCHHIKER’S GUIDE TO THE GALAXY BY DOUGLAS ADAMS">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1404613595l/13.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="LILITH’S BROOD BY OCTAVIA BUTLER">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1439247785l/60926.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="2001: A SPACE ODYSSEY by ARTHUR C. CLARKE">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1432468943l/70535.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="DUNE BY FRANK HERBERT">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1523123959l/39776179.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="THE DISPOSSESSED BY URSULA K. LE GUIN">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1353467455l/13651.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="A WRINKLE IN TIME BY MADELEINE L’ENGLE">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1507963312l/33574273.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="1984 BY GEORGE ORWELL">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1532714506l/40961427.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="THE SPARROW BY MARY DORIA RUSSELL">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1230829367l/334176.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="CRYPTONOMICON BY NEAL STEPHENSON">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1327931476l/816.jpg" alt="">
                    </div>
                </a>

                <a href="#" class="mx-2" title="DOOMSDAY BOOK BY CONNIE WILLIS">
                    <div class="top-20-book">
                        <img class="img-fluid" src="https://images.gr-assets.com/books/1403972500l/24983.jpg" alt="">
                    </div>
                </a>

            </div>
        </div>
    </div>


</section>

<%- include('../includes/bottom') %>